<h1>Welcome to Jobs</h1>
<p>This is a small example app I was asked to create, the code is hosted on Github user ramen74/examples/job</p>
<p>This project is created on Rails 3.1</p>
<p> Here's what you can do here </p>

<ul>
	
<li><%= link_to "View and Apply for Jobs", listings_path %> </li>
<li><%= link_to "Create A New Job Listing", new_listing_path %> </li>
<li><%= link_to "Check on your listings", my_messages_path %> </li>

</ul>

<div id="about_project">
<p>Here's the requirements for this project!:</p>
<ul>
<li>Viewing the jobs does not require logging in, but posting or responding does.</li>
<li>A user needs to register to be able to sign in.</li>
<li>A user has a name and an email address, and a password.</li>
<li>A logged-in user can create a job posting and /edit/delete these.</li>
<li>A job posting has a title, a company, a description.</li>
<li>A logged-in user can respond to a job which provides a message to the job creator in a simple inbox format.</li>
<li>Unit tests.</li>
</ul>

<p> Enjoy! </p>

</div>